:root {
    --white: #fff;
    --black: #000;
    --celeste: #55ccea;
    --amarillo: #9ce658;
    --gris: #7d7979;
    --backgraound: #fafdfd;
}

html {
    font-size: 62.5%;
}
body {
font-family: "Josefin Sans", sans-serif;
margin: 0;
box-sizing: border-box;
background-color: var(--backgraound);
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

header span {
    font-size: 4rem;
    color: var(--celeste);
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--celeste);
}

.nav a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    padding: 1rem 0 1rem 0;
    cursor: pointer;
}