:root {
    --white: #fff;
    --black: #000;
    --celeste: #55ccea;
    --amarillo: #9ce658;
    --gris: #7d7979;
    --backgraound: #e4ecec;
}

html {
    font-size: 62.5%;
}
body {
font-family: "Josefin Sans", sans-serif;
margin: 0;
box-sizing: border-box;
background-color: var(--backgraound);
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

header span {
    font-size: 4rem;
    color: var(--celeste);
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--celeste);
}

.nav a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    padding: 1rem 0 1rem 0;
    cursor: pointer;
}

.fondo {
    width: 100%;
    background-image:url(../img/hero.jpg);
    height: 20rem;
}

.container-fondo {
    
    background-color: rgba(0, 0, 0, .75);
    height: 20rem;
}

.container-fondo h3 {
    text-align: center;
    font-size: 2rem;
    color: var(--backgraound);
    padding: 3rem 0 1rem 0;
}

.degrade {
    background-color: var(--black);
}

.location {
    display: flex;
    justify-content: center;
}

.location p {
    padding-top: 1.5rem;
    color: var(--white);
    font-size: 1.2rem;
}

.contact-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    font-size: 1.5rem;
    background-color: var(--celeste);
    padding: 1rem 2rem;
    border-radius: .5rem;

}

.service {
    width: 80%;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: 1rem 2rem ;
}

.all-service-conteiner{
    display: flex;
    justify-content: space-between;
}

.service h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.service-container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.service-container h4{
    font-size: 1.5rem;
    color: var(--celeste);
    text-align: center;
}

.iconos {
  width: 10rem;
  height: 10rem;
  background-color: var(--amarillo);
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* formulario */

.form {
    width: 50%;
    background-color: var(--gris);
    padding: 2rem;
    display: block;
}

.conteiner-items {
    display: flex;
    justify-content: center;
   
}

.form-items{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.form-container {
    margin-bottom: 3rem;
        
}

.form-container h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}
.form fieldset {
    border: none; 
}

.form legend {
    font-size: 2rem;
    color:var(--amarillo) ;
    text-align: center;
    margin-bottom: 1.5rem;    
}

.form-items label {
    font-size: 1.5rem;
    color: var(--white);
    padding-bottom: .5rem;
    width: 75%;
}

.form-items input {
    height: 4rem;
    margin-bottom: 1rem;
}

.first-row {
    display: flex;
    justify-content: space-between;
    
}

.column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

 .form textarea {
    height:15rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
 }

 .send {
    height: 7rem; 
    background-color: var(--amarillo);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    border-radius: 1rem;
 }

 footer {
    text-align: center;
 }